# centos
freetds-devel

#debian/ubuntu
freetds-dev
# centos
freetds-devel

#debian/ubuntu
freetds-dev
# centos
freetds-devel

#debian/ubuntu
freetds-dev
# centos
freetds-devel

#debian/ubuntu
freetds-dev
# centos
freetds-devel

#debian/ubuntu
freetds-dev
# centos
freetds-devel

#debian/ubuntu
freetds-dev
# centos
freetds-devel

#debian/ubuntu
freetds-dev
# centos
freetds-devel

#debian/ubuntu
freetds-dev
