freetds-dev
# centos
#debian/ubuntu

#“Basic” or “Basic Light” package for your operating system
#http://www.oracle.com/technetwork/database/database-technologies/instant-client/overview/index.html
freetds-devel
