
freetds-devel
#debian/ubuntu
# centos
#“Basic” or “Basic Light” package for your operating system
#http://www.oracle.com/technetwork/database/database-technologies/instant-client/overview/index.html
freetds-dev
